.heading h3 {
    text-align: center;
    margin-top: 50px;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

#pic img {
    border-radius: 10px;
}

#main{
    margin-top: 80px;
}

#contact h2{
    margin-bottom: 10px;
   
}

#contact label{
    font-weight: 500;
}

#getintouch h2{
    margin-bottom: 30px;
}

#getintouch p {
    margin-bottom: 20px;
    padding: 10px;
}
#getintouch p span {
    font-size: larger;

}